[submodule "Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit_ILI9341"]
	path = lib/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341.git
[submodule "MAX6675-library"]
	path = lib/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library.git
[submodule "Adafruit_FT6206_Library"]
	path = lib/Adafruit_FT6206_Library
	url = https://github.com/adafruit/Adafruit_FT6206_Library
[submodule "Arduino-Makefile"]
	path = external/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "external/Arduino"]
	path = external/Arduino
	url = https://github.com/arduino/Arduino
