[submodule "external/Adafruit-GFX-Library"]
	path = external/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "external/Adafruit_ILI9341"]
	path = external/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341.git
[submodule "external/MAX6675-library"]
	path = external/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library.git
[submodule "external/Adafruit_FT6206_Library"]
	path = external/Adafruit_FT6206_Library
	url = https://github.com/adafruit/Adafruit_FT6206_Library
